<Doctype>
<html>
<head></head>
<body>
</body>

     <h1><%= link_to "Home",root_path %></h1>
<!-- <h1><%= link_to "Project Page", prj2_path %></h1> -->

      <h1>Ramu</h1>
       
        <%= image_tag "tyyy.jpg", class: "width=200" "height=200" %>
        <%= image_tag "st.jpg", class: "width=200" "height=200" %>
        <%= image_tag "stt.jpg", class: "width=200" "height=200" %>
        <%= image_tag "sttt.jpg", class: "width=200" "height=200" %>
       </html></Doctype>